<div class="modal fade">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Terms of Use</h4>
      </div>
      <div class="modal-body">
        When downloading and using any of these data, please cite the respective
        original publications that are included in the data download. Complete
        data sets, including all raw data and calibrations, can be downloaded
        <a href="https://www1.ncdc.noaa.gov/pub/data/paleo/climate_forcing/trace_gases/Paleo-pCO2/" target="_blank">at NCDC</a>.
      </div>
      <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-primary" data-dismiss="modal">Download</button>
        <button type="button" ng-click="cancel()" class="btn btn-default">Cancel</button>
      </div>
    </div>
  </div>
</div>
